h3 {
  margin-bottom: 30px;
}
.table {
  margin-top: 20px;
}
.form-control {
  margin-bottom: 5px;
}
.selecionado {
  background-color: rgb(216, 236, 246);
}
.negrito {
  font-weight: bold;
}
hr {
  border-color: #999;
}
